.product-details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78vh;
}
.product-image{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 20px;
}

.product-info{
    flex: 1;
}

.product-title{
    font-size: 24px;
    font-weight: bold;
}

.product-description{
    font-size: 16px;
    margin-top: 10px;
}

.product-price{
    font-size: 24px;
    font-weight: bold;
    color: #f1410b;
}    

.buy-now-button{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(#9ea2da, #1822ad);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.go-back-home-button{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(#fd7373, #ee0e0e);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
}